In [1]:
# Standard Library Imports
# from pathlib import path

# Installed packages
import pandas as pd

# Our package
from ydata_profiling import ProfileReport
from ydata_profiling.utils.cache import cache_file

In [2]:
# Read The Titanic Dataset
file_name = cache_file (
    "titanic_csv",
    "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
)

df = pd.read_csv(file_name)

In [3]:
# Informations Détaillées Des données

In [4]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
def get_data_summary(df):
    '''Generate important summary information of a given
    Pandas DataFrame'''
    
    print("========== Information globale ==========")
    display(df.info())
    print("\n========== Comptage des Valeurs Sans doublon ==========\n")
    display(df.nunique())
    print("\n============ Statistiques Descriptives ===========================")
    display(df.describe())
    print("\n=======================================")
    display(df.head(5).style.background_gradient(axis=0))

In [6]:
get_data_summary(df)

========== Information globale ==========
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

None

========== Comptage des Valeurs Sans doublon ==========

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

============ Statistiques Descriptives ===========================

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

=======================================

# Valeurs Manquantes

In [7]:
def missing_value(df):
  d1 = df.isna().sum().to_frame()
  d2 = (df.isna().sum() / df.shape[0]).to_frame()
  d3 = df.dtypes.to_frame()
  df_missing = pd.concat([d1,d2,d3],axis = 1)
  df_missing.columns = ['missing value','% of missing value','dtypes']
  print('='*100)
  if (df_missing.iloc[:,0].any() !=0):
      print("Notre dataframe comporte " + str(df.shape[1]) +
      " colonnes. Et il y a " + str(df_missing.shape[1]) + " colonnes qui ont des valeurs manquantes.")
  else:
      print("Notre dataframe comporte " + str(df.shape[1]) +
      " colonnes. Et il n'y a aucune colonne qui à des valeurs manquantes.")
  print('-'*100)
  print(df_missing)

In [8]:
missing_value(df)

====================================================================================================
Notre dataframe comporte 12 colonnes. Et il y a 3 colonnes qui ont des valeurs manquantes.
----------------------------------------------------------------------------------------------------
             missing value  % of missing value   dtypes
PassengerId              0            0.000000    int64
Survived                 0            0.000000    int64
Pclass                   0            0.000000    int64
Name                     0            0.000000   object
Sex                      0            0.000000   object
Age                    177            0.198653  float64
SibSp                    0            0.000000    int64
Parch                    0            0.000000    int64
Ticket                   0            0.000000   object
Fare                     0            0.000000  float64
Cabin                  687            0.771044   object
Embarked                 2            0.002245   object

# Pandas Profiling And ydata Profiling

In [11]:
# Generate the Profiling Report
profile = ProfileReport(
    df, title = "Titanic Dataset", html = {"style" : {"full_width" : True}}, sort = None
)

In [13]:
# The HTML report in an iframe
profile.to_file("PANDAS_PROFILING.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]