# Basic steps for developing a model with Pycaret

In [3]:
import pycaret

In [4]:
pycaret.__version__

'3.3.0'

In [5]:
from pycaret.datasets import get_data
data1 = get_data(dataset = 'traffic')

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,Rush Hour,traffic_volume
0,None,288.28,0.0,0.0,40,Clouds,1,5545
1,None,289.36,0.0,0.0,75,Clouds,0,4516
2,None,289.58,0.0,0.0,90,Clouds,0,4767
3,None,290.13,0.0,0.0,90,Clouds,0,5026
4,None,291.14,0.0,0.0,75,Clouds,0,4918

In [6]:
from pycaret.regression import *

In [8]:
dataset = setup(data = data1, target = 'traffic_volume',
                session_id = 438)

In [9]:
best = compare_models()

In [10]:
tuned_best = tune_model(estimator = best)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [27]:
final_model = finalize_model(estimator = tuned_best)

In [28]:
save_model(final_model, "models/rf_base_traffic")

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['temp', 'rain_1h', 'snow_1h',
                                              'clouds_all', 'Rush Hour'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['holiday', 'weather_main'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('onehot_encoding',
                  TransformerWrapper(inclu...
                               feature_types=None, gamma=None, grow_policy=None,
                               importance_type=None,
                               interaction_constraints=None, learning_rate=None,
                               max_bin=None, max_cat_threshold=None,
                               max_cat_to_onehot=None, max_delta_step=None,
                               max_depth=None, max_leaves=None,
                               min_child_weight=None, missing=nan,
                               monotone_constraints=None, multi_strategy=None,
                               n_estimators=None, n_jobs=-1,
                               num_parallel_tree=None, random_state=438, ...))]),
 'models/rf_base_traffic.pkl')

#### Predictions

In [29]:
saved_model = load_model('models/rf_base_traffic')

Transformation Pipeline and Model Successfully Loaded

In [31]:
from sklearn.model_selection import train_test_split

# Diviser les données en ensembles d'entraînement (80%) et de test (20%)
train_data, test_data = train_test_split(data1, test_size=0.2, random_state=42)

# Utilisez train_data pour l'entraînement du modèle et test_data pour les prédictions
# Ici, nous allons utiliser test_data comme new_data pour les prédictions
new_data = test_data

In [32]:
predictions = predict_model(saved_model, data=new_data)
predictions.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,Rush Hour,traffic_volume,prediction_label
35748,None,289.489990,0.0,0.0,1,Fog,1,6364,4726.899902
147,None,279.350006,0.0,0.0,1,Clear,0,2030,2516.199707
24362,None,291.390015,0.0,0.0,36,Clouds,0,708,2403.815430
35495,None,294.019989,0.0,0.0,90,Thunderstorm,0,2029,2626.104248
11010,None,268.690002,0.0,0.0,64,Mist,1,3734,4281.065918