# Aplicación con Pycaret y Gradio

In [1]:
#!pip install pycaret==2.3.6

### Creación de API automatizada

In [1]:
# load the dataset from pycaret
from pycaret.datasets import get_data
data = get_data('diamond')

   Carat Weight    Cut Color Clarity Polish Symmetry Report  Price
0          1.10  Ideal     H     SI1     VG       EX    GIA   5169
1          0.83  Ideal     H     VS1     ID       ID   AGSL   3470
2          0.85  Ideal     H     SI1     EX       EX    GIA   3183
3          0.91  Ideal     E     SI1     VG       VG    GIA   4370
4          0.83  Ideal     G     SI1     EX       EX    GIA   3171

In [3]:
# initialize setup
from pycaret.regression import *
s = setup(data, target = 'Price', 
          transform_target = True,
          session_id = 123)

In [4]:
# train model
lightgbm = create_model('lightgbm')

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

In [5]:
# create gradio app
create_app(lightgbm)

Running on local URL:  http://127.0.0.1:7866

To create a public link, set `share=True` in `launch()`.